@charset "UTF-8";
/* main portfolio styles */

/* CSS reset - skal se ens ud i alle browsere */
* {
	margin: 0;
	padding: 0;
	border: none;
}

/* general layout */
body {
	font-family: 'Baskerville', 'serif';
}
h1 {
	color: #502246;
}
#container {
	min-height: 90vh;
	min-width: 80%;
}
#nav {
	display: flex;
	border-bottom: 1px solid grey;
	justify-content: flex-end;
	align-items: center;
	min-height: 8vh;
}
nav a {
	text-decoration: none;
	color: #502246;
	font-size: 20px;
	margin: 0 15px;
}
/* ville ønske de ikke flyttede på hinanden når de bliver highlighted */
nav a:hover {
	font-weight: 550;
}
/* for meget blank space mellem footeren og indhold på about og contact siden */
#footer {
	display: flex;
	border-top: 1px solid grey;
	justify-content: flex-end;
	align-items: center;
	min-height: 5vh;
	max-height: 10vh;
}
footer {
	color: #444;
	margin-right: 15px;
}
#main {
	min-height: 85vh;
}

/* index siden */
#main.home {
	background: url(../images/hatter-marchhare-shadows.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-style: italic;
}
.home h1.name {
	color: #502246;
	position: relative;
	top: 16vh;
	left: 10vw;
}
.home h1.mediadesign {
	color: #853874;
	position: relative;
	top: 17vh;
	left: 13vw;
}

/* about siden */
img.about {
	margin-top: 8vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 16%;
}
#header.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3vh;
}
#main.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about p {
	width: 90vh; /* Der er noget galt her, det ser ens ud om det er 90 eller 80 */
}


/* contact siden */
.contact h1 {
	position: relative;
	top: 8vh;
	left: 25vw;
}
form {
	width: 40vw;
	border: 1px solid black;
	padding: 20px;
	position: relative;
	top: 10vh;
	left: 25vw;
}

