@charset "UTF-8";
/* main portfolio styles */

/* CSS reset - skal se ens ud i alle browsere */
* {
	margin: 0;
	padding: 0;
}

/* general layout */
body {
	font-family: 'Baskerville', 'serif';
}
h1 {
	color: #502246;
}
#container {
	min-height: 90vh;
	min-width: 80%;
}
#nav {
	display: flex;
	border-bottom: 1px solid grey;
	justify-content: flex-end;
	align-items: center;
	min-height: 8vh;
}
nav a {
	text-decoration: none;
	color: #502246;
	font-size: 20px;
	margin: 0 15px;
}
nav a:hover {
	font-weight: 600;
}
/* for meget blank space mellem footeren og indhold på about og contact siden */
#footer {
	display: flex;
	border-top: 1px solid grey;
	justify-content: flex-end;
	align-items: center;
	min-height: 5vh;
	padding: 1vh 1vw;
}
footer {
	color: #444;
	margin-right: 15px;
}
#main {
	min-height: 85vh;
}

/* index siden */
#main.home {
	background: url(../images/far-uganda.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	font-style: italic;
}
.home h1.name {
	color: #502246;
	font-size: 40px;
	display: inline-block;
	position: relative;
	top: 16vh;
	left: 10vw;
}
.home h1.mediadesign {
	color: #c87300;
	font-size: 40px;
	display: inline-block;
	position: relative;
	top: 25vh;
	right: 18vw; 
}

/* about siden */
img.about {
	margin-top: 8vh;
	display: block;
    margin-left: auto;
    margin-right: auto;
	border-radius: 16%;
}
#header.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 3vh;
}
#main.about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.about p {
	width: 90vh;
}

/* contact siden */
.contact h1 {
	display: inline-block;
	position: relative;
	top: 8vh;
	left: 25vw;
}
.contact form {
	width: 35vw;
	border: 1px solid black;
	padding: 20px;
	position: relative;
	top: 10vh;
	left: 25vw;
}
.contact p {
	margin: 15px 0;
}
.contact input {
	width: 90%;
	padding: 2%;
}
.contact textarea {
	width: 90%;
	padding: 2%;
}
.contact #send {
	width: 20%;
	padding: 2%;
}
