@charset "UTF-8";
/* CSS Document */
/* simplegrid */
@import "simplegrid.css";


/* general layout */
body {
	font-family: 'Baskerville', serif;
}
/*#main {
	padding-top: 2vh;
}*/
h1, h2 {
	color: #502246;
}
#nav {
	background-color: white;
	border-bottom: 1px solid grey;
	height: 50px;
	position: fixed;
	top: 0;
	width: 93%;
	max-width: 1140px;
	margin-top: 0;
}
nav a {
	text-decoration: none;
	color: #502246;
	font-size: 20px;
	padding: 15px 0px;
}
nav a:hover, #page {
	font-weight: 600;
}
#nav img {
	max-height: 40px;
	width: auto;
	margin: 8px 0px;
}
#footer {
	border-top: 1px solid grey;
	height: 50px;
	padding: 1vh 1vw;
	background-color: white;
	margin-top: 1vh;
}
footer img {
	max-height: 50px;
	width:auto;
}
footer small {
	padding-top: 15px;
}
footer a {
	text-decoration: none;
	color: #502246;
}

/* home */
.home article {
	margin-bottom: 3vh;
}
.home .title {
	margin-top: 50px;
}
.home img {
	margin-top: 50px;
	border-radius: 1%;
}

/* work */
.work section {
	padding-top: 50px;
	min-height: 92vh;
}
.work article h6 {
	display: none;
}
/*.work .project {
	padding-top: 8vh;
}*/
.project img {
	margin: 5px 0;
}
.arrow {
	padding-top: 20px;
}

/* contact */
.contact #main {
	min-height: 90vh;
}
.contact h2 {
	margin-top: 50px;
}
.contact form {
	border: 1px solid black;
	padding: 20px;
	margin-bottom: 50px;
}
.contact p {
	margin: 15px 0;
}
.contact input {
	width: 90%;
	padding: 2%;
}
.contact textarea {
	width: 90%;
	padding: 2%;
}
.contact #send {
	width: 20%;
	padding: 2%;
	border: 1px solid grey;
	background-color: white;
	border-radius: 5px;
}
		
/* Kun tablets i landscape mode og desktops */
@media screen and (min-width: 1024px) {
	.mobile-only {
		display: none;
}
	/* Work */
	.work article {
		column-count: 2;
	}
	.work .icon-space {
		height: 66px;
	}
} 